body
{
    background-color: #ebebeb !important;
}
h1
{
    text-align: center;
    margin-top: 50px !important;
}
h2
{
    text-align: center;
}
.page
{
    width: 70%;
    margin: auto;
}
#formulaire
{
    display: none;
    width: 50%;
    margin: auto;
    border: rgba(0, 0, 0, 0.425) solid 1px;
    padding: 10px;
}
#erreur
{
    color: white;
    background-color: rgba(255, 0, 0, 0.356);
    text-align: center;
}
td
{
    cursor: pointer;
    color: rgba(0, 0, 255, 0.527);
    padding: 10px;
}
#actions{
    text-align: center;
}
